body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../static/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    justify-content: flex-end; /* Przesuń zawartość na prawą stronę */
    height: 100%;
    width: 100%;
}

/* Stylizacja dla sekcji remove_items i add_item */
#remove_items,
#add_item {
    margin: 20px 200px 20px 20px; /* Dodaj marginesy (góra, prawo, dół, lewo) */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

/* Reszta Twojego stylu pozostaje bez zmian */
